.expandedCardContainer {
    width: 100vw;
    height: 100svh;

    .expandedCard {
        background-color: #F0F4F8;
        border-radius: 0.5rem;
        width: 40%;
        height: 60%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-30%, -10%);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
        display: flex;
        color: #000;

        .nutritionLabel {
            padding-top: 0.5rem;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                flex-direction: column;
                flex: 2;
                padding: 0rem;

                h1 {
                    font-size: 1.5rem;
                }

                .servingSize {
                    display: flex;
                    justify-content: space-between;
                    width: 95%;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                }

                .divider {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
                    margin: 0.25rem 0;
                    width: 95%;
                }

                .largeDivider {
                    border-bottom: 10px solid #000;
                    margin: 0.25rem 0;
                    width: 95%;
                    justify-self: center;
                }

                .calorieInfo {
                    display: flex;
                    width: 95%;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    font-weight: bold;
                    justify-content: space-between;


                    .servingContainer {
                        p {
                            font-size: 0.75rem;
                        }

                        .caloriesText {
                            font-size: 1.25rem;
                        }
                    }

                    .calories {
                        display: flex;
                        justify-content: flex-end;
                        align-content: flex-start;

                        p {
                            font-size: 2rem;
                        }
                    }
                }
            }

            .mediumDivider {
                border-bottom: 5px solid #000;
                width: 95%;
                margin: 0.25rem 0;
                align-self: center;
            }

            .dailyValueText {
                flex: 5;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                .dailyValuePercent {
                    align-self: flex-end;
                    p {
                        padding-left: 0.25rem;
                        padding-right: 0.50rem;
                        font-size: 0.75rem;
                    }
                }

                .macro {
                    display: flex;
                    width: 95%;
                    justify-content: space-between;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    
                    .totalMacro {
                        p {
                            font-size: 0.875rem;
                        }
                        span {
                            font-size: 0.875rem;
                            font-weight: bold;
                        }
                    }

                    .macroPercentage {
                        font-weight: bold;
                        p {
                            font-size: 0.875em;
                        }
                    }
                }

                .divider {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
                    margin: 0.25rem 0;
                    width: 95%;
                }

                .largeDivider {
                    border-bottom: 10px solid #000;
                    margin: 0.25rem 0;
                    width: 95%;
                }

                .disclaimer {
                    width: 95%;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    p {
                        text-align: center;
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .ingredientsList {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.5rem;

            .ingredientsHeader {
                width: 95%;

                h1 {
                    font-size: 1.5rem;
                }

                .divider {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
                    margin: 0.25rem 0;
                    width: 95%;
                }
            }

            .ingredients {
                width: 85%;

                h1 {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}