.recipeCard {
    background-color: #F4F2DD;
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    color: #3B413C;
    
    .recipeImg {
        flex: 1;
        display: flex;
        
        .imageContainer {
            img {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .recipeInfo {
        display: flex;
        flex-direction: column;
        flex: 8;

        .recipeTitle {
            display: flex;
            padding-left: 0.5rem;
            align-items: center;

        }

        .recipeQuickInfo {
            display: flex;
            flex-direction: column;

            .recipeQuickNutrients {
                display: flex;
                justify-content: space-evenly;
                padding: 0rem;
            }
        }
    }
}