.timeOfDay {
    padding: 0.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    h1 {
        cursor: pointer;
        padding-bottom: 0.5rem;

        &:hover {
            color: #26C6DA;
        }
    }

    p {
        margin-left: 1rem;
        color: #B0BEC5;
    }

    .bottomBorder {
        height: 1px;
        width: 80%;
        margin-top: 1rem;
        background-color: #546E7A;
    }
}