.timeOfDay {
  padding: 0.5rem;
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    cursor: pointer;
    padding-bottom: 0.5rem;

    &:hover {
      color: #26c6da;
    }

    &.active {
      color: #26c6da;
    }
  }

  p {
    margin-left: 1rem;
    color: #b0bec5;
  }

  .bottomBorder {
    height: 1px;
    width: 80%;
    margin-top: 1rem;
    background-color: #546e7a;
  }
}
