.timeOfDay {
    border: 1px solid black;
    margin-top: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    h1 {
        padding-bottom: 0.5rem;
    }
    p {
        margin-left: 1rem;
        color: #3B413C;
    }
}